{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <form action="{% url 'registration_register' %}" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-success">Registrieren</button>
    </form>
{% endblock %}