body{
    background-image: url("/static/img/bg.jpg");
    font-family: 'Caveat', cursive;
    color: #2f2f2f

}
p{
    font-family: 'Caveat', cursive;
    color: #2f2f2f;
    font-size: 1.5em;
}
h1 {
    font-family: 'Permanent Marker', cursive;
    color: #2f2f2f
}
.landingpage{
    margin-top:20%
}
